@charset "UTF-8";
body {
  background: #fff;
  width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #FFF;
}

button {
  background: #DA7C48;
  width: 170px;
  height: 50px;
  margin-left: 20px;
  border: none;
  text-transform: uppercase;
  font-size: 0.9em;
}

header,
nav {
  background: #000;
  height: 100px;
}

/* ---- couleur --- */
nav ul,
nav p {
  color: #fff;
}

* {
  font-family: arial, sans-serif;
}

main {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

/* ----- Header ----- */
header {
  position: relative;
}
header nav {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 999;
  width: 70%;
  left: 15%;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  text-transform: uppercase;
}
header nav ul li {
  padding-right: 20px;
}

section.headphone-product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
section.headphone-product .return-to-home {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  color: grey;
}
section.headphone-product figure {
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-radius: 10px;
}
section.headphone-product figure img {
  width: 45%;
  border-radius: 10px;
}
section.headphone-product figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  width: 45%;
  border-radius: 10px;
}
section.headphone-product figure figcaption p {
  font-size: 0.9em;
}
section.headphone-product figure figcaption h3 {
  text-transform: uppercase;
  font-size: 2.5em;
}
section.headphone-product figure figcaption div .quantity {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F1F1F1;
  width: 130px;
}
section.headphone-product figure figcaption div .quantity span.remove,
section.headphone-product figure figcaption div .quantity span.items,
section.headphone-product figure figcaption div .quantity span.add {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.headphone-product figure figcaption div .quantity span.remove,
section.headphone-product figure figcaption div .quantity span.add {
  cursor: pointer;
}
section.headphone-product figure figcaption a {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.9em;
}

.content .features p,
.content .box .box-content {
  font-size: 0.9em;
}

section.headphone-product figure figcaption p.headphone-price {
  font-weight: bold;
  font-size: 1em;
}

section.headphone-product figure figcaption button {
  display: inline;
}

section.headphone-product figure figcaption div {
  display: flex;
  justify-content: flex-start;
}

section.headphone-product figure figcaption div div.quantity span {
  color: #fff;
  margin: auto;
}

/* ----- Features and Box ----- */
.content {
  margin-top: 100px;
  display: flex;
  width: 100%;
}

.content .features {
  width: 55%;
}

.content .features p {
  line-height: 23px;
}

.content .box {
  width: 45%;
}

.content .box .box-content {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .box .box-content p {
  margin-bottom: 0;
}

.content .box .box-content p span {
  margin-right: 20px;
}

.content .box .box-content h3,
.content .features h3 {
  text-transform: uppercase;
  font-size: 2.2em;
}

/* ----- les 3 images ----- */
section.images {
  width: 100%;
  height: 600px;
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}
section.images div {
  width: 43%;
  height: 100%;
}
section.images figure {
  height: 100%;
  width: 58%;
  margin: 0;
}
section.images figure img {
  width: 100%;
  border-radius: 10px;
}
section.images figure img:nth-child(2) {
  margin-top: 5%;
}
section.images div figure {
  width: 100%;
  margin: 0;
}
section.images div figure img {
  width: 95%;
  border-radius: 10px;
}

section.other-product h3 {
  text-align: center;
  text-transform: uppercase;
}
section.other-product .products {
  display: flex;
  justify-content: space-between;
}
section.other-product .products figure {
  margin: 0;
  width: 30%;
}
section.other-product .products figure img {
  width: 100%;
  border-radius: 10px;
}
section.other-product .products figure figcaption {
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}

/* ---- Shop ---- */
section.shop {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}
section.shop figure {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  height: 400px;
}
section.shop figure img {
  position: absolute;
  top: 60%;
  left: 50%;
  /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
  z-index: 10;
  width: 90%;
  height: auto;
}
section.shop figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 315px;
  height: 50%;
  background: #F1F1F1;
  border-radius: 10px;
  margin-top: 230px;
}
section.shop figure figcaption .name-product {
  text-transform: uppercase;
  font-weight: 700;
}
section.shop figure figcaption p:nth-child(1) {
  margin-top: 100px;
}
section.shop figure figcaption p:nth-child(2) {
  margin: 0;
}
section.shop figure:nth-child(1),
section.shop figure:nth-child(3) {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* ---- 3ieme et 4ieme bannière ---- */
.products-description {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.products-description img,
.products-description figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 48%;
  border-radius: 10px;
}
.products-description img span,
.products-description figcaption span {
  color: #C69076;
}
.products-description img h3,
.products-description figcaption h3 {
  text-transform: uppercase;
  font-size: 2.5em;
}
.products-description img p,
.products-description figcaption p {
  font-size: 0.9em;
  width: 90%;
  margin-right: 10%;
  line-height: 25px;
}

/* --- footer ---- */
footer {
  width: 100%;
  height: 300px;
  background: #000;
  display: flex;
  position: relative;
}
footer div .border {
  position: absolute;
  top: 0;
  width: 90px;
  height: 5px;
  background-color: orange;
  left: 15%;
}
footer div:nth-child(1) {
  margin-left: 15%;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer div:nth-child(1) p:nth-child(2) {
  font-weight: 700;
  color: #fff;
  font-size: 1.4em;
  margin: 0;
  width: 110px;
}
footer div:nth-child(1) .copyright {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 700;
}
footer div:nth-child(1) .audiophile {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.9em;
}
footer div:nth-child(2) {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer div:nth-child(2) ul {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
}
footer div:nth-child(2) ul li {
  color: #fff;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  padding-left: 25px;
}
footer div:nth-child(2) .social-network {
  display: flex;
  justify-content: flex-end;
  color: white;
}
footer div:nth-child(2) .hidden {
  visibility: hidden;
}

/* The Modal (background) */
#myModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
#myModal .modal-content {
  /* Modal Content */
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}
#myModal .modal-content .close {
  /* The Close Button */
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#myModal .modal-content .close:hover,
#myModal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#myModal .modal-content aside figure img {
  display: none;
}

aside {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 3%;
  text-transform: uppercase;
  font-size: 0.9em;
}
aside .summary {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 30px;
}
aside figure {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
aside figure img {
  width: 100%;
  max-width: 70px;
  height: auto;
  border-radius: 10px;
}
aside figure span {
  float: right;
}
aside figure figcaption p {
  margin: 0;
  margin-right: 50px;
}
aside figure figcaption p p:first-child {
  font-weight: 700;
}
aside figure figcaption p:first-child {
  font-weight: 700;
}
aside p {
  margin-bottom: 3px;
}
aside p span {
  float: right;
  font-weight: 700;
  letter-spacing: 0px;
}
aside .pay {
  margin-top: 20px;
}

/*# sourceMappingURL=headphone-mark-two.css.map */
